*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chair
{
    height: 60%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    
}

.s1
{
    background: url("./img/couch.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section h1 
{
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #87c7df, #648896);
    --webkit-background-clip: text;
    --webkit-te
}