<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basics</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" v-cloak>
        {{message}}
        <br>
        <!-- v-model is like an html attribute. It binds a function to an input and displays it -->
        <input v-model="message">
        <br>
        <!-- button -->
        <button @click="toggleBox">Toggle box</button>
        <!-- v-if -->
        <div v-if="isVisible" class="box red"></div>
        <!-- v-else-if --> 
        <!-- <div v-else-if="isVisible2" class="box green"></div> -->
        <!-- v-else -->
        <!-- <div v-else class="box blue"></div> -->

        <!-- v-show is like v-if but it only turn display to none while still keeping content on the DOM -->
        <!-- <div v-show="isVisible" class="box"></div> -->
<!-- attribute binding -->
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        // const { createApp, ref } = Vue
        // createApp({
        //     setup() {
        //         const message = ref("Hello Pat!")
        //         return {
        //             message
        //         }
        //     }
        // }).mount("#app")

        let app = Vue.createApp({
            data: function() {
                return {
                    message: "Hello Everybody!",
                    isVisible: false,
                    // isVisible2: false,
                }

            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible 
                }
            }
        })
        app.mount("#app")
    </script>
</body>
</html>