* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 20px;
}

.red {
    background-color: red;

}
.green {
    background-color: green;
}

.blue {
    background-color: blue;
}